@page "/"

<h1 class="text-center h2">Welcome to</h1>
<p>
    <img class="rounded mx-auto d-block" src="icons/Cuppuccino_Logo.png" alt="Alternate Text" />
</p>
<h2 class="text-center h4">Buy amazing coffees at amazing prices...</h2>

